$color-soft-blue:       hsl(243, 86%, 85%);
$color-very-dark-blue:  hsl(243, 87%, 12%);
$color-dark-blue:       hsl(243, 58%, 33%);
$color-green:           hsl(163, 95%, 43%);
$color-grey:            hsl(0, 0%, 50%);

$font-family-heading:   'Raleway';
$font-family-body:      'Open Sans';